body{
	margin: 0px;
	background-color: #aab;
}

#header{
	position:relative;
	background-color: #111;
	padding-right: 1em;
	height: 5em;
	border-bottom: 8px solid #88a;
}

.headertext{
	position:absolute;
	top:50%;
	height: 2em;
	padding-left: 1em;
	margin-top: -0.75em;

	color: #FFF;
	font: Helvetica Neue, Segoe UI, Lucida Sans Unicode, sans-serif;
	font-size: 2em;
	font-weight: bold;
}

.headertext a{
	color: #BDF;
}

.headertext a:hover{
	color: #8CE;
}

#content{
	margin: 1em;
	padding:1em;
	background-color: #eef;
	border: 1px solid #eef;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}

#footer{
	font-size:0.9em;
	background-color: #99a;
	text-align:center;
	border-top:2px solid #abd;
	border-bottom:2px solid #abd;
	padding-top:0.25em;
	padding-bottom:0.5em;
}

p{
	margin-top:0.25em;
	margin-bottom:0.5em;
	padding-top:0;
	padding-bottom:0;
}

h1{
	font-size: 2em;
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
}

h2{
	font-size: 1.75em;
	margin-top:0em;
	margin-bottom:0em;
	padding-top:0;
	padding-bottom:0;
}

h3{
	font-size: 1.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	padding-top:0;
	padding-bottom:0;
}

h4{
	font-size: 1.25em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	padding-top:0;
	padding-bottom:0;
}

h5{
	font-size: 1.125em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	padding-top:0;
	padding-bottom:0;
}

div.centeredImage{
	width: 100%;
	text-align: center;
}

table.referenceTable{
	border-spacing: 0px;
	width: 100%;
}

th{
	background-color: #cce;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

td.refHeader{
	background-color: #ddf;
	text-align: center;
	border: 1px solid #cce;
}

.refHeadDesc{
	font-weight:normal;
}

td.refData{
	border-left: 1px solid #bbd;
	border-right: 1px solid #bbd;
	border-bottom: 1px solid #bbd;
	padding: 0.5em;
}

td.tableFooter{
	height:1em;
	background-color:#bbd;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

pre.bitExplanation{
	background-color:#DDD;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

td.ntsc_00{ background-color:#656565; color:#FFF; }
td.ntsc_01{ background-color:#002B9B; color:#FFF; }
td.ntsc_02{ background-color:#110EC0; color:#FFF; }
td.ntsc_03{ background-color:#3F00BC; color:#FFF; }
td.ntsc_04{ background-color:#66008F; color:#FFF; }
